.status {
    margin-top: 30px;
}
.circle {
    border-radius: 50%;

    width: 60px;
    height: 60px;

    display: inline-block;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}